body {
  margin: 0;
  padding-top: 6px;
}

@keyframes imageChange {
  from {
    background-image: url(../assets/boiling_pot1.png);
  }
  to {
    background-image: url(../assets/boiling_pot6.png);
  }
}

@keyframes imageChangeAdvanced {
  0% {
    background-image: url(../assets/boiling_pot1.png);
  }
  30% {
    background-image: url(../assets/boiling_pot2.png);
  }
  45% {
    background-image: url(../assets/boiling_pot3.png);
  }
  60% {
    background-image: url(../assets/boiling_pot4.png);
  }
  80% {
    background-image: url(../assets/boiling_pot5.png);
  }
  100% {
    background-image: url(../assets/boiling_pot6.png);
  }
}

.pot {
  width: 1524px;
  height: 728px;
  background-image: url(../assets/boiling_pot1.png);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  animation: imageChangeAdvanced 10s infinite;
}
